@model WatchCatalogue.Core.Entities.SubscriptionService

@{
    ViewBag.Title = "Add Subscription Service";
}

<h1>@ViewBag.Title</h1>

<div class="container">
@using (Html.BeginForm("AddSubscriptionServicePost", "AddSomething", FormMethod.Post))
{
    <form>
        <table id="data">
            <tr>
                <td>
                    <div class="col-25">Name</div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(ss=>ss.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-25">Price</div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(ss => ss.Price)
                </td>
            </tr>
            <tr>
                <td>
                    <div class="btn">
                        <input type="submit" value="Add" />
                    </div>
                </td>
            </tr>
        </table>
    </form>
}
</div>

<style>
    #data {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        font-size: 12px;
        white-space:nowrap;
        width:100%;
    }

   
    #data tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #data tr:hover {
        background-color: #ddd;
        width:50%;
    }

    #data td, #data th {
        border: 1px solid #ddd;
        padding: 8px;
        width:1%;
    }
</style>