@model WatchCatalogue.Core.ViewModels.DisplayAllViewModel

<h1>View All</h1>

<table id="data">    
    <tr>
        <th>Service</th>
        <th>Channels</th>
        <th>Movies</th>
        <th>Amount</th>
        @if(Roles.IsUserInRole("Admin") || Roles.IsUserInRole("User"))
            {
               <th>Action</th>
            }
    </tr>
       @foreach (var service in Model.Services)
       {
           foreach (var channel in service.Channels)
           {
               foreach (var movie in channel.Movies)
               {
                <tr>

                    <td>@service.ServiceName</td>
                    <td>@channel.ChannelName</td>
                    <td>@movie.MovieName</td>
                    <td>@movie.Amount</td>
                    @if (Roles.IsUserInRole("Admin")||Roles.IsUserInRole("User"))
                    {
                       <td><input type="button" value="Buy"/></td>
                    }
                </tr>

               }
           }
       }
</table>

<style>
    #data {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        font-size:12px;
      }
    table {
        width: 100%;
    }
        #data td, #data th {
            border: 1px solid #ddd;
            padding: 8px;
        }
</style>