@model WatchCatalogue.Core.ViewModels.DisplayAllViewModel

<h1>View All</h1>

<table>    
    <tr>
        <th>Service</th>
        <th>Channels</th>
        <th>Movies</th>

    </tr>
       @foreach (var service in Model.Services)
       {
           foreach (var channel in service.Channels)
           {
               foreach (var movie in channel.Movies)
               {
                <tr>

                    <td>@service.ServiceName</td>
                    <td>@channel.ChannelName</td>
                    <td>@movie.MovieName</td>
                </tr>

               }
           }
       }
</table>